body {
    font-family: 'Courier New', Courier, monospace;
    background-color: #222;
    color: #eee;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    padding: 20px;
    text-align: center;
}

h1 {
    font-size: 3em;
    margin-bottom: 10px;
    text-shadow: 0 0 5px #000;
}

p {
    font-size: 1.2em;
    margin-bottom: 20px;
}

main {
    padding: 20px;
}

section {
    margin-bottom: 40px;
}

h2 {
    font-size: 2em;
    margin-bottom: 10px;
    text-shadow: 0 0 3px #000;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
}

a {
    color: #eee;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.project {
    border: 1px solid #555;
    padding: 15px;
    margin-bottom: 20px;
}

footer {
    background-color: #333;
    padding: 10px;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}
